docs/_build/*
docs/_static/*
docs/_templates/*

build/*
dist/*
skillbridge.egg-info/*

.idea/*
**/.coverage*
**/.hypothesis/*
**/.mypy_cache/*
**/htmlcov/*

env/*

**/__pycache__/*

*.log
skillbridge/client/definitions*
skillbridge/client/workspace.pyi


*.so
python_server.log
